<div class = "col-md-8 offset-2">
  <h1 class = "text-center">Blog Posts</h1>
  <%= link_to 'Add a Blog Post', new_post_path, class: 'btn btn-primary'%>
  <br />
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= truncate(post.content, length: 50) %></p>
    <p><small>Tags: <%= raw post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small</p>
    <p><%= link_to "Read Post", post_path(post) %></p>
  <% end %>
</div>